body{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/workplace.jpg");
    background-size:cover;
    background-repeat: no-repeat;
   
}


.content{
    text-align: center;
    font-size: large;
    font-family: cursive;
    margin-top: 90px;
    
}

.content h1{
    background-color: blueviolet;
    color: white;
    
}

#sub{
    text-align: center;
    font-size: large;
    /* background-color: blueviolet; */
    color:rgba(23, 1, 43, 0.808);   
    font-weight: bolder;
   



}


.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    box-shadow: 0 5p x1;
    border-style:groove;
    border-color: blueviolet;
    background-color: blueviolet;

}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 35px;
    /* color: black; */
    pointer-events: none;

}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: none;
    font-size: 20px;
    cursor: pointer;
    /* background-color: aliceblue; */
}

.buttons button:active{
    transform: scale(0.99);
}

.operator{
    color: blueviolet;
}

.close {
    border: 2px;
    margin-top: 40px;

}

.closeButton{
    border: 10px;
    font-size: large;
    width: 30%;
    font-weight: bolder;
    border-radius: 6px;
    height: 30px;

}
    
.closing {
    border: 2px;
    margin-top: 40px;
    text-align: center;

}

.openButton{
    border: 10px;
    font-size: large;
    width: 50%;
    font-weight: bolder;
    border-radius: 6px;
    height: 30px;

}

.closing.ems{
    font-size: larger;
}

#thankyou{
    background-color: white;
    font-family: cursive;
    color:black;
}


@media screen and (max-width: 768px) {
    body {
        background-image: url("../images/workplace.jpg");
    }

   
}

@media screen and (min-width: 320px) {
    body {
        background-image: url("../images/workplace.jpg");
    }
  
  
}   
